# @Author: Haibin Lee <haibin>
# @Date:   2020-11-11T16:56:37+08:00
# @Email:  haibin.li@newtouch.com
# @Filename: install_generator.yml
# @Last modified by:   haibin
# @Last modified time: 2020-11-30T20:47:08+08:00
# @License: GNU General Public License v3.0



- name: 安装必要工具
  become: true
  package:
    name:
      - git
      - openssl
      - curl
      - python3

- name: “获取 {{ fisco_generator_git }} 代码”
  become: false
  git:
    repo: "{{ fisco_generator_git }}"
    dest: "{{ fisco_workdir }}/generator"
    depth: 1

- name: 安装 generator
  command: bash ./scripts/install.sh
  args:
    chdir: "{{ fisco_workdir }}/generator"
  register: __command_result

- name: 获取 fisco-bcos v{{ fisco_version }} 执行文件
  unarchive:
    src: "{{ fisco_dl_url }}"
    dest: "{{ fisco_workdir }}/generator/meta/"
    mode: 0755
    remote_src: yes
  register: __dl_st
  until: __dl_st is succeeded
  retries: 10
  delay: 5

# 如果检查失败，请删除对应的 generator 目录，再重试。或手动执行 ./generator --download_fisco ./meta --cdn
- name: 确认 fisco-bcos 是否下载成功，以及打印版本号。
  debug:
    msg: "{{ lookup('pipe', fisco_workdir + '/generator/meta/fisco-bcos -v | grep -i Version') }}"

- name: "普通版 | 生成联盟链证书"
  command: "./generator --generate_chain_certificate ./dir_chain_ca"
  args:
    chdir: "{{ fisco_workdir }}/generator/"
    warn: false
  changed_when: false
  when: not fisco_gm_enabled

- name: 国密版 | 生成联盟链证书
  command: "{{ item }}"
  with_items:
    - "./generator --generate_chain_certificate ./dir_chain_ca -g"
    - "./generator --generate_chain_certificate ./dir_chain_ca_normal"
  args:
    chdir: "{{ fisco_workdir }}/generator/"
    warn: false
  changed_when: false
  when: fisco_gm_enabled
