[defaults]
inventory                 = inventories/sample/hosts.ini
host_key_checking         = false
retry_files_enabled       = false
timeout                   = 120
gathering                 = smart
callback_whitelist        = profile_roles
stdout_callback           = skippy
no_target_syslog          = true
log_path                  = /tmp/ansible.log
command_warnings          = true
deprecation_warnings      = true
roles_path                = roles
remote_tmp                = /tmp/.ansible-${USER}

[paramiko_connection]
record_host_keys          = false

[ssh_connection]
ssh_args                  = -o ControlMaster=auto -o UserKnownHostsFile=/dev/null -o ConnectTimeout=300 -o Compression=yes -o TCPKeepAlive=yes -o ServerAliveInterval=5 -o StrictHostKeyChecking=no -o AddKeysToAgent=yes
pipelining                = true
retries                   = 10

[persistent_connection]
connect_timeout           = 120
connect_retry_timeout     = 60

[privilege_escalation]
become_allow_same_user    = false

[inventory]
ignore_patterns           = artifacts, credentials
cache                     = true
cache_plugin              = jsonfile
