[group]
group_id={{ agency.group_id }}

[nodes]
{% for node in agencies
  | selectattr('group_id', '==', agency.group_id)
  | sum(attribute='nodes', start=[])
  | list
%}
node{{ loop.index }}={{ node }}:30300
{% endfor %}
