[group]
group_id={{ agency.group_id }}

{% for node in agency.nodes %}
[node{{ loop.index0 }}]
p2p_ip={{ node }}
rpc_ip={{ node }}
channel_ip=0.0.0.0
p2p_listen_port=30300
channel_listen_port=20200
jsonrpc_listen_port=8545

{% endfor %}
