[group]
group_id={{ loop_main_group_id }}

[nodes]
{% for node in groups['fisco_node_group_' + loop_main_group_id|quote] %}
node{{ loop.index0 }}={{ node.split(':')[2] }}:{{ node.split(':')[3] | default('30300') }}
{% endfor %}
