# 机构名称:主群组编号:节点IP:P2P端口:Channel端口:RPC端口:额外群组编号('0'表示没有)


node_list:
{% for node in fisco_agencies|subelements('nodes') %}
{# 单 IP 多节点 #}
{% if node.1.split(':')[1] is defined %}
{% for j in range(0,node.1.split(':')[1]|int)|list %}
  - {{ node.0.name }}:{{ node.0.main_group_id[0] }}:{{ node.1.split(':')[0] }}:{{ 30300 + j }}:{{ 20200 + j }}:{{ 8545 + j }}:[{{ node.0.extra_group_id | default('0') | join(',') }}]
{% endfor %}
{% else %}
{# 单 IP 单节点 #}
  - {{ node.0.name }}:{{ node.0.main_group_id }}:{{ node.1.split(':')[0] }}:30300:20200:8545:[{{ node.0.extra_group_id | default('0') | list | join(',') }}]
{% endif %}
{% endfor %}

# 检查机构是否已经完成初始化。
agency_existed:
{% for agency_name in fisco_agencies|map(attribute='name') %}
{% if lookup('fileglob', fisco_workdir + '/agency_' + agency_name + '/fisco_deploy_agency_' + agency_name + '/start_all.sh', errors='ignore') %}
  - {{ agency_name }}
{% else %}
  - "机构 {{ agency_name }} 尚未初始化"
{% endif %}
{% endfor %}

# 检查群组是否已经完成初始化。
group_existed:
{% for agency in fisco_agencies|selectattr('create_genesis', 'defined')|selectattr('create_genesis') %}
{% if lookup('fileglob', fisco_workdir + '/agency_' + agency.name + '/group/group.' + agency.main_group_id|quote + '.genesis', errors='ignore') %}
  - {{ agency.main_group_id }}
{% else %}
  - "群组 {{ agency.main_group_id }} 尚未建立"
{% endif %}
{% endfor %}
